.ps-project-create-edit-pet>.ps-wrapper>.main-content>.left>.main-title {
    font-size: calc(var(--ps-font-size-base) + 32px);
    font-weight: 800;
    max-width: 415px;
    margin-bottom: 40px;
}

.ps-project-create-edit-pet>.ps-wrapper>.main-content>.left {
    max-width: 400px;
    margin: auto;
}

.ps-project-create-edit-pet>.ps-wrapper>.main-content>.left>.ps-button {
    margin-top: 30px;
}

.ps-project-create-edit-pet>.ps-wrapper>.main-content>.left>.ps-input {
    margin-bottom: 30px;
}

.ps-project-create-edit-pet>.ps-wrapper>.main-content>.left>.radio-buttons>.title-specie {
    font-weight: 600;
    margin-bottom: 30px;
    margin-right: 55px;
}

.ps-project-create-edit-pet>.ps-wrapper>.main-content>.left>.radio-buttons>.title-type {
    font-weight: 600;
    margin-bottom: 30px;
    margin-right: 20px;
}

.ps-project-create-edit-pet>.ps-wrapper>.main-content>.left>.radio-buttons {
    margin-top: 10px;
    margin-bottom: 30px;
    display:flex;
}


